* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: white;
}

body {
  padding: 10px 30px 10px 30px;
  background-color: #0c2426;
}

a {
  color: inherit;
  text-decoration: none;
}
